:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --succcess-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-bg: #f8f9fa;
    --white: #fff;
    --border-color: #dee2e6;
}





body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
    color: #343a40;
}


.menu-container{
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}


a,button{
    display: block;
    text-decoration: none;
    color: var(--light-bg);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 150px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover{
    background-color: #ffc107;
}





.continer{
    max-width: 1200px;
    margin: 40pxauto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
}

h2,h3{
    color: var(--primary-color);
    border-bottom: 2pxsolidvar(--primary-color);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}




table{
    width: 100%;
    font-size: 16px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: var(--white);
    border: 1pxvar(--border-color) solid;
    border-radius: 6px;
    overflow: hidden;
}


th, td{
    border: 1pxsolidvar(--border-color);
    padding: 5px;
    text-align: center;
}


th{
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}


tr:last-childtd{
    border-bottom: none;
}


tr:nth-child(even){
    background-color: #f9f9f9;
}



form{
    background: var(--white);
    padding: 5px;
    border-radius: 6px;
    border: 1pxsolidvar(--white);
    margin-bottom: 20px;
    margin: 0auto;
}



/* form {
        width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: var(--white);
    border: 1px var(--border-color) solid;
    border-radius: 6px;
    overflow: hidden;   
} */


input[type="text"],
input[type="number"],
select{
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
}


