{% extends 'base.html' %}

{% block title %}在庫一覧{% endblock %}

{% block content %}

<h2>お菓子在庫</h2>

<table>
    <thead>
        <tr>
            <th>玉数</th>
            <th>商品名</th>
            <th>在庫数</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a style="display: block;" href="/">メニューに戻る</a>


  

{% endblock %}