{% extends 'base.html' %}

{% block title %}MAIN MENU{% endblock %}

{% block content %}

<div class="menu-container" style="text-align: center;">
    <h3 style="font-weight: 100;">
        双葉店カウンター管理アプリ
    </h3>
    <h2>
        MAIN MENU
    </h2><br><br>
    <a href="inventory_in">入庫</a>
    <a href="inventory_out">出庫</a>
    <a href="tobacco_check">たばこ棚卸入力</a>
    <a href="counter_stock">在庫一覧</a>
    <a href="register">登録各種</a>
    <a href="analysis">分析</a>
    <a href="kubota">窪田主任用ページ</a>

</div>


{% endblock %}