{% extends 'base.html' %}

{% block title %}入庫{% endblock %}

{% block content %}

<body style="display: block;">
    

    <div class="menu-container" style="text-align: center;">
        <h2>入庫</h2>
        <form method="post" onsubmit="alert('登録されました');">
            <label for="group_name">玉数名</label><br>
            <select name="group_name" id="group_name" onchange="getProductData()">
                <option value="" disabled selected>玉数選択</option>
                {% for g_name in group_names %}
                    <option value="{{g_name}}">{{g_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="product_name">商品名</label><br>
            <select name="product_name" id="product_name">
                <option value=" disabled selected">商品名選択</option>
            </select>
            <br><br>
            <label for="received_quantity">入庫数</label><br>
            <input type="number" id="received_quantity" name="received_quantity" required>
            <br><br>
        
            <button type="submit">登録</button>
        </form>
        <br><br><br>

        <a href="import">ｃｓｖから入庫する</a><br>
        <a href="/">メインメニューに戻る</a>
    </div>

    <table style="width: 90%;  text-align: center; margin: 50px auto;" >
        <thead>
            <tr>
                <th>玉数名</th>
                <th>商品名</th>
                <th>入庫数</th>
                <th>入庫日</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_in %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4].strftime('%y,%m,%d')  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
<script>
    async function getProductData(){
        const groupSelect = document.getElementById('group_name');
        const productSelect = document.getElementById('product_name');

        const selectedGroup = groupSelect.value;

        if (!selectedGroup) return;

        try{
            const response = await fetch(`/get_product_names/${selectedGroup}`);
            const data = await response.json();

            productSelect.innerHTML = '<option value="" disabled selected>商品名を選択</option>';

            data.forEach(name => {
                const option = document.createElement('option');
                option.value = name;
                option.textContent = name;
                productSelect.appendChild(option);
            });
        }catch(error){
            console.error('Fetch error:', error)
        }
    }
</script>

</body>
 
{% endblock %}