{% extends 'base.html' %}

{% block title %}入庫{% endblock %}

{% block content %}
<div class="menu-container" style="text-align: center;">
    <h2>入庫</h2>
    <form method="post" onsubmit="alert('登録されました');">
        <label for="group_name">玉数名</label><br>
        <select name="group_name" id="group_name">
            <option value="disabled selected">玉数選択</option>
            {% for g_name in group_names %}
                <option value="{{g_name}}">{{g_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="product_name">商品名</label><br>
        <select name="product_name" id="product_name">
            <option value="disabled selected">商品名選択</option>
            {% for p_name in product_names %}
                <option value="{{p_name}}">{{p_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="received_quantity">入庫数</label><br>
        <input type="number" id="received_quantity" name="received_quantity" required>
        <br><br>
      
        <button type="submit">登録</button>
    </form>
    <br><br><br>

    <a href="import">ｃｓｖから入庫する</a><br>
    <a href="/">メインメニューに戻る</a>
    </div>
 
{% endblock %}