{% extends 'base.html' %}

{% block title %}出庫時用の商品名登録{% endblock %}

{% block content %}

<body style="display: flex;">
    
    <div class="menu-container" style="text-align: center;">
        <h2>出庫時用の商品名登録</h2>
        <p style="text-align: left;">ここでは、出庫時の名前を登録します。ここに登録すると、うまい棒みたいに何種類も味がある場合、すべて「うまい棒」として扱うことができます。</p><br><br>
        <form method="POST" onsubmit="alert('登録されました')">  
            <label for="group_name">玉数名</label><br>
            <input type="text" id="group_name" name="group_name" required><br><br>
            <label for="provisional_name">出庫時の名前</label><br>
            <input type="text" id="provisional_name" name="provisional_name" required>
            <br><br>
            <button type="submit">登録</button>
            <br><br><br><br>
            <a href="/">メニューに戻る</a>
        </form>
        
    </div>

    <table style="width: auto;  text-align: center; margin: 50px auto;" >
    <thead>
        <tr>
            <th>玉数名</th>
            <th>出庫時の名前</th>
        </tr>
    </thead>
    <tbody>
        {% for item in provisional %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>

{% endblock %}