{% extends 'base.html' %}

{% block title %}取引先登録{% endblock %}

{% block content %}
<body  style="display: flex;">
    
    <div class="menu-container" style="text-align: center;">
        <h2>取引先登録</h2>
        <form method="post" onsubmit="alert('登録されました');">
            <label for="shop_name">取引先企業名</label><br>
            <input type="text" id="shop_name" name="shop_name" required>
            <br><br><br>
        
            <button type="submit">登録</button>
        </form>
        <br><br><br>
        <a href="/">メニューに戻る</a>
    </div>

    <table style="width: auto;  text-align: center; margin: 50px auto;" >
        <thead>
            <tr>
                <th>ID</th>
                <th>取引先企業名</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shops %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>


{% endblock %}