{% extends 'base.html' %}

{% block title %}商品登録{% endblock %}

{% block content %}

<div class="menu-container" style="text-align: center;">
    <h2>商品登録</h2>
    <form method="post" onsubmit="alert('登録されました');">
        <label for="product_id">商品ID</label><br>
        <input type="text" id="product_id" name="product_id">
        <br>
        <label for="pos_code">POSコード</label><br>
        <input type="number" id="pos_code" name="pos_code" min="0" step="1">
        <br>
        <label for="maker">メーカー</label><br>
        <input type="text" id="maker" name="maker">
        <br>
        <label for="category_name">カテゴリー名</label><br>
        <select name="category_name" id="category_name">
            <option value="disabled selected">カテゴリー選択</option>
            {% for c_name in category_names %}
                <option value="{{c_name}}">{{c_name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="shop_name">取引先企業名</label><br>
        <select name="shop_name" id="shop_name">
            <option value="disabled selected">企業名選択</option>
            {% for s_name in shop_names %}
                <option value="{{s_name}}">{{s_name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="group_name">玉数名</label><br>
        <select name="group_name" id="group_name" required>
            <option value="disabled selected">玉数選択</option>
            {% for name in group_names %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="product_name">商品名</label><br>
        <input type="text" id="product_name" name="product_name" required>
        <br>
        <label for="quantity_box">入り数</label><br>
        <input type="number" id="quantity_box" name="quantity_box" min="0" required>
        <br>
        <label for="unit_price">単価</label><br>
        <input type="number" step="0.01" min="0" id="unit_price" name="unit_price" required>
        <br>
        <label for="expiry_date">有効期限</label><br>
        <input type="date" id="expiry_date" name="expiry_date">
        <br>
        <label for="effective_from">開始日</label><br>
        <input type="date" id="effective_from" name="effective_from" value="{{ today_iso }}" required>
        <br>
        <label for="effective_to">終了日（任意）</label><br>
        <input type="date" id="effective_to" name="effective_to">
        <br>

      
        <button type="submit" class="btn-primary">登録</button>
    </form>
    <br><br>
    <a href="/">メニューに戻る</a>
</div>



{% endblock %}