{% extends 'base.html' %}

{% block title %}たばこ棚卸入力{% endblock %}

{% block content %}

<h2>たばこ棚卸入力</h2>

<form method="post">
<table border="1">
<tr>
    <th>銘柄</th>
    <th>DB在庫</th>
    <th>in_shelf</th>
    <th>unit_count</th>
</tr>

{% for p in products %}
<tr>
    <td>{{ p[0] }}</td>
    <td>{{ p[2] }}</td>

    <input type="hidden" name="product_name" value="{{ p[0] }}">
    <input type="hidden" name="group_name" value="{{ p[1] }}">
    <input type="hidden" name="db_stock" value="{{ p[2] }}">

    <td><input type="number" name="in_shelf" value="0"></td>
    <td><input type="number" name="unit_count" value="0"></td>
</tr>
{% endfor %}
</table>

<br>
<a href="tobacco_result">次へ</a>
</form>



{% endblock %}